#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  margin-bottom: 40px;
}

.hero {
  display: flex;
  flex-direction: column; /* Change to column for mobile-first */
  align-items: center;
  margin-bottom: 40px;
}

.hero-carousel {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust width as necessary */
  margin: auto 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 4px 20px rgba(216, 212, 212, 0.2);
}

.carousel-image {
  width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
}

.hero-video {
  margin: 20px;
}

.hero-text {
  text-align: center;
}

.problem,
.solution,
.how-it-works {
  margin-bottom: 40px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row; /* Change to row for larger screens */
  }
  .hero-text {
    text-align: left;
    padding-left: 20px;
  }
}
